/* START OF CUSTOM RESET */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
  
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    line-height: calc(1em + 0.5rem);
    -webkit-font-smoothing: antialiased;
    font-size: 1.6rem;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* END OF CUSTOM RESET */

body {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    background-color: lightgreen;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 4rem;
}

.header > div {
    display: flex;
    align-items: center;
}

.header > div > * {
    margin: 0 1rem;
}

.icon {
    border: 1px solid lightgray;
    width: 3rem;
    height: 3rem;
}

.search-bar {
    border: none;
    border-radius: 2rem;
    height: 3rem;
    width: 64rem;
    background-color: lightgray;
}

.profile-section {
    display: flex;
    justify-content: center;
}

.profile-icon {
    border: 1px solid lightgray;
}

.profile-btn {
    width: 4rem;
    height: 4rem;
}

.profile-icon {
    width: 6rem;
    height: 6rem;
}

.action-section {
    display: flex;
    justify-content: center;
    padding-right: 1.5rem;
}
.action-btn {
    width: 9rem;
    height: 3.4rem;
    border: none;
    border-radius: 2rem;
    background-color: blue;
    color: white;
}

.profile-name {
    font-size: 1.8rem;
}

.welcome-text {
    font-size: 1.6rem;
}

.profile-details {
    font-size: 2.4rem;
}

.sidebar {
    background-color: lightskyblue;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
}

.logo h1 {
    font-size: 2.4rem;
    padding: 2.4rem;
}

.sidebar li {
    font-size: 2rem;
    padding: 1rem;
}

.main {
    background-color: lightcoral;
}