/* START OF CUSTOM RESET */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
  
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    line-height: calc(1em + 0.5rem);
    -webkit-font-smoothing: antialiased;
    font-size: 1.6rem;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* END OF CUSTOM RESET */

/* ROOT STYLING */

:root {
    --white: #fbfdfe;
    --black: #070708;
    --light-grey: #dde7ee;
    --mid-grey: #d3d9de;
    --blue: #1aa3ff;
    --orange: #ffbf00;
}

/* CONTAINER STYLING */
body {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}


/* HEADER STYLING */
.header {
    background-color: var(--white);
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 4rem;
}

.header > div {
    display: flex;
    align-items: center;
}

.header > div > * {
    margin: 0 1rem;
}

.icon {
    background-color: transparent;
    border: 1px solid var(--light-grey);
    border-radius: 4rem;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.search-bar {
    border: none;
    border-radius: 2rem;
    height: 3rem;
    width: 64rem;
    background-color: var(--light-grey);
}

.profile-section {
    display: flex;
    justify-content: center;
}

.profile-icon {
    background-color: transparent;
    border: 1px solid var(--light-grey);
    border-radius: 4rem;
}

.profile-btn {
    background-color: transparent;
    border: 1px solid var(--light-grey);
    border-radius: 4rem;
    width: 4rem;
    height: 4rem;
}

.profile-icon {
    background-color: transparent;
    border: 1px solid var(--light-grey);
    border-radius: 4rem;
    width: 6rem;
    height: 6rem;
}

.action-section {
    display: flex;
    justify-content: center;
    padding-right: 1.5rem;
}

.action-btn {
    width: 9rem;
    height: 3.4rem;
    border: none;
    border-radius: 2rem;
    background-color: var(--blue);
    color: var(--white);
}

.profile-name {
    font-size: 1.8rem;
}

.welcome-text {
    font-size: 1.6rem;
}

.profile-details {
    font-size: 2.4rem;
}


/* SIDEBAR STYLING */
.sidebar {
    background-color: var(--blue);
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
    color: var(--white);
}

.logo h1 {
    font-size: 2.4rem;
    padding: 2.4rem;
}

.sidebar li {
    display: flex;
    font-size: 2rem;
    padding: 1rem;
}

.list-item > img {
    margin: 0 2rem;
}


/* MAIN SECTION STYLING */
.main {
    background-color: var(--light-grey);
    display: grid;
    padding: 4rem;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
}

.main-content {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.main-content-container {
    overflow: auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
}

.content-card {
    padding: 2rem;
    background: var(--white);
    border-left: 7px solid var(--orange);
    border-radius: 0.7rem;
    display: grid;
    grid-template-rows: auto 1fr;
}

.card-title {
    font-weight: bold;
}

.card-content {
    font-size: 1.4rem;
}

.content-card > :last-child {
    display: flex;
    justify-content: flex-end;
    padding-top: 2rem;
}

.anno-section {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.anno-container, .trend-container {
    padding: 3rem;
    background-color: var(--white);
    border-radius: 0.7rem;
}

.announcement {
    padding: 1.2rem 0;
    border-bottom: 1px solid var(--mid-grey);
}

.anno-container > :first-child {
    padding-top: 0;
}

.anno-container > :last-child {
    padding-bottom: 0;
    border: none;
}

.anno-title {
    font-size: 1.4rem;
    font-weight: bold;
}

.anno-content, .user-name {
    font-size: 1.2rem;
}

.trending-section {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.profile-badge {
    padding-bottom: 1.2rem;
    display: flex;
}

.trend-container > :last-child {
    padding-bottom: 0;
}

.profile-badge > img {
    margin-right: 1.2rem;
}